
<div class="grid grid-cols-12 text-white">
	<div class="col-span-8">
		<div class="text-4xl font-bold pt-12">
			We empower the generation of tomorrow for a brighter future and hope for every individual.
		</div>

		<div class="pt-8 text-xl">
			Pellentesque at nisi consequat, consectetur velit et, efficitur nunc. Quisque vulputate dapibus est quis ullamcorper. Aenean arcu velit, efficitur vitae commodo eu, mollis fringilla lacus. Nam dapibus viverra quam, sed hendrerit lacus. Nunc quis nisl neque. Mauris ut viverra risus. Curabitur vitae lacus nec elit dictum suscipit sit amet a urna.
			Nulla condimentum magna sed dolor lacinia dignissim. Curabitur mattis fringilla venenatis.
		</div> <br />
		

		<div class="text-xl">
			In luctus vel metus a euismod. Nullam nec sapien vitae nulla ultricies consequat at at est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. Eget ipsum nec massa auctor tempor. Fusce et consectetur velit. Proin risus lacus, finibus interdum nulla non,
			feugiat placerat velit. Curabitur pellentesque dictum enim sit amet scelerisque.
		</div>
	</div>
	<div class="col-span-4">

	</div>
</div>