
<div class="grid grid-cols-12 text-white">
	<div class="col-span-8">
	<div class="pt-12 pb-8 text-3xl font-bold">Contact GoodNews</div>

		<p class="text-xl pb-5">If you have a question, comment, or suggestion, please send us a message – we'd love to hear from you.</p>

	<div class="text-xl">
			<div class="py-4 font-bold">Our company information</div>
			<p class="pb-1">Good News Ltd</p>
			<p class="pb-1">Registered in United States #57364821</p>
			<p>VAT Registration US-143607757</p>
	</div>
		<div class="text-xl pt-2">
			<div class="py-4 font-bold">Complaints or queries</div>
			<p>Mistakes do sometimes happen. When they do, we commit to being open and transparent and to addressing any disputes as fairly as possible.</p>
		</div>
		<div class="py-4 w-100">
			<form>
				<div class="mb-4">
					<label class="block text-white text-sm font-bold mb-2" for="username">
						Name*
					</label>
					<input autocomplete="off" style="width: 67%" class="shadow bg-gray-200 border-0 appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none" id="username" type="text" placeholder="Enter your name">
				</div>

				<div class="mb-8">
					<label class="block text-white text-sm font-bold mb-2" for="username">
						Email Address*
					</label>
					<input style="width: 67%" class="shadow bg-gray-200 hover:bg-gray-300 border-0 appearance-none rounded w-full py-2 px-3 text-black font-blod leading-tight focus:outline-none" id="username" type="text" placeholder="Enter your email">
				
				</div>
				<div class="py-2 text-xl">Reason*</div>
				<div class="grid grid-cols-12">
					<div class="col-span-8">
						<div class="flex items-center mb-4">
							<input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 bg-orange-500 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
							<label for="default-radio-1" class="ml-2 text-md font-medium text-gray-900 dark:text-gray-300">General</label>
						</div>
						<div class="flex items-center">
							<input id="default-radio-2" type="radio" value="" name="default-radio"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
							<label for="default-radio-2" class="ml-2 text-md font-medium text-gray-900 dark:text-gray-300">Complaint</label>
						</div>
						<div class="py-6">

							<div class="w-full ">
								<label class="block uppercase tracking-wide text-white text-md font-bold mb-2" for="grid-password">
									Message*
								</label>
								<textarea class=" no-resize appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="message"></textarea>
							</div>
							
						</div>
						<div class=" uppercase text-md border-2 border-black rounded-md bg-orange-400 hover:bg-orange-500 hover:text-white py-2 px-4 w-64">
							<a href=""><span class="m-12">Send Message</span></a>
						</div>
					</div>
					<div class="col-span-4"></div>
				</div>
			</form>
		</div>
</div>
	<div class="col-span-4"></div>
</div>